# Set up

In [1]:
import pandas as pd
import numpy as np
import sqlalchemy as sa

# Import Data

Importamos la bbdd creada en MySQLWorkbench, para posteriormente hacer calidad.

In [2]:
# Configurar la conexión a la base de datos MySQL
engine = sa.create_engine('mysql+mysqlconnector://marius:admin@localhost/pizza_runner')

Inspeccionar nombre de las tablas.

In [3]:
from sqlalchemy import inspect
insp = inspect(engine)
tablas = insp.get_table_names()
tablas

['customer_orders',
 'pizza_names',
 'pizza_recipes',
 'pizza_toppings',
 'runner_orders',
 'runners']

Teniamos problemas de calidad en las tablas customer_orders y runner_orders.Vamos a mirar una por una.
https://8weeksqlchallenge.com/case-study-2/

In [4]:
# Ejemplo de consulta SQL utilizando SQLAlchemy
consulta = "SELECT * FROM customer_orders"

# Ejecutar la consulta y cargar los resultados en un DataFrame de Pandas
df_customer = pd.read_sql_query(consulta, engine)

# Cierra la conexión
engine.dispose()

# Imprime los resultados
df_customer.head()

   order_id  customer_id  pizza_id exclusions extras          order_time
0         1          101         1                   2020-01-01 18:05:02
1         2          101         1                   2020-01-01 19:00:52
2         3          102         1                   2020-01-02 23:51:23
3         3          102         2              None 2020-01-02 23:51:23
4         4          103         1          4        2020-01-04 13:23:46

#### Corrección registros.

In [5]:
df_customer['exclusions'] = df_customer['exclusions'].replace({'': np.nan,'null':np.nan})
df_customer['extras'] = df_customer['extras'].replace({'': np.nan,'null':np.nan})

Comprobar.

In [8]:
df_customer

    order_id  customer_id  pizza_id exclusions extras          order_time
0          1          101         1        NaN    NaN 2020-01-01 18:05:02
1          2          101         1        NaN    NaN 2020-01-01 19:00:52
2          3          102         1        NaN    NaN 2020-01-02 23:51:23
3          3          102         2        NaN   None 2020-01-02 23:51:23
4          4          103         1          4    NaN 2020-01-04 13:23:46
5          4          103         1          4    NaN 2020-01-04 13:23:46
6          4          103         2          4    NaN 2020-01-04 13:23:46
7          5          104         1        NaN      1 2020-01-08 21:00:29
8          6          101         2        NaN    NaN 2020-01-08 21:03:13
9          7          105         2        NaN      1 2020-01-08 21:20:29
10         8          102         1        NaN    NaN 2020-01-09 23:54:33
11         9          103         1          4   1, 5 2020-01-10 11:22:59
12        10          104         1        NaN    NaN 2020-01-11 18:34:49
13        10          104         1       2, 6   1, 4 2020-01-11 18:34:49

Corregir valores de las variables exclusions y extras

In [14]:
df_customer['exclusions'] = df_customer['exclusions'].str.replace(' ', '').str.replace(',','.')
df_customer['extras'] = df_customer['extras'].str.replace(' ', '').str.replace(',','.')

Corregir tipos de las variables

In [17]:
for variable in df_customer[['exclusions','extras']]:
    df_customer[variable] = df_customer[variable].astype('float64')