# Set up

In [1]:
import pandas as pd
import numpy as np
import sqlalchemy as sa

# Import Data

Importamos la bbdd creada en MySQLWorkbench, para posteriormente hacer calidad.

In [2]:
# Configurar la conexión a la base de datos MySQL
engine = sa.create_engine('mysql+mysqlconnector://marius:admin@localhost/pizza_runner')

Inspeccionar nombre de las tablas.

In [3]:
from sqlalchemy import inspect
insp = inspect(engine)
tablas = insp.get_table_names()
tablas

['customer_orders',
 'pizza_names',
 'pizza_recipes',
 'pizza_toppings',
 'runner_orders',
 'runners']

Teniamos problemas de calidad en las tablas customer_orders y runner_orders.Vamos a mirar una por una.
https://8weeksqlchallenge.com/case-study-2/

### Calidad tabla customer_orders

In [4]:
consulta = "SELECT * FROM customer_orders"

# Ejecutar la consulta y cargar los resultados en un DataFrame de Pandas
customer_orders = pd.read_sql_query(consulta, engine)

engine.dispose()

customer_orders.head()

   order_id  customer_id  pizza_id exclusions extras          order_time
0         1          101         1                   2020-01-01 18:05:02
1         2          101         1                   2020-01-01 19:00:52
2         3          102         1                   2020-01-02 23:51:23
3         3          102         2              None 2020-01-02 23:51:23
4         4          103         1          4        2020-01-04 13:23:46

#### Visión general

In [5]:
customer_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     14 non-null     int64
 1   customer_id  14 non-null     int64
 2   pizza_id     14 non-null     int64
 3   exclusions   14 non-null     object
 4   extras       13 non-null     object
 5   order_time   14 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 800.0+ bytes

Vemos problemas de tipos y registros.

#### Corrección registros.

In [6]:
#rellenar registros vacios y strings por valores NaN
customer_orders['exclusions'] = customer_orders['exclusions'].replace({'': np.nan,'null':np.nan})
customer_orders['extras'] = customer_orders['extras'].replace({'': np.nan,'null':np.nan})

Comprobar.

In [7]:
customer_orders

    order_id  customer_id  pizza_id exclusions extras          order_time
0          1          101         1        NaN    NaN 2020-01-01 18:05:02
1          2          101         1        NaN    NaN 2020-01-01 19:00:52
2          3          102         1        NaN    NaN 2020-01-02 23:51:23
3          3          102         2        NaN   None 2020-01-02 23:51:23
4          4          103         1          4    NaN 2020-01-04 13:23:46
5          4          103         1          4    NaN 2020-01-04 13:23:46
6          4          103         2          4    NaN 2020-01-04 13:23:46
7          5          104         1        NaN      1 2020-01-08 21:00:29
8          6          101         2        NaN    NaN 2020-01-08 21:03:13
9          7          105         2        NaN      1 2020-01-08 21:20:29
10         8          102         1        NaN    NaN 2020-01-09 23:54:33
11         9          103         1          4   1, 5 2020-01-10 11:22:59
12        10          104         1        NaN    NaN 2020-01-11 18:34:49
13        10          104         1       2, 6   1, 4 2020-01-11 18:34:49

Corregir valores de las variables exclusions y extras

In [8]:
#Eliminamos espacios y cambiamos la coma por punto
customer_orders['exclusions'] = customer_orders['exclusions'].str.replace(' ', '').str.replace(',','.')
customer_orders['extras'] = customer_orders['extras'].str.replace(' ', '').str.replace(',','.')

Corregir tipos de las variables

In [9]:
#cambiar a float las variables exclusions, extras
for variable in customer_orders[['exclusions','extras']]:
    customer_orders[variable] = customer_orders[variable].astype('float64')

Comprobar

In [10]:
customer_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     14 non-null     int64
 1   customer_id  14 non-null     int64
 2   pizza_id     14 non-null     int64
 3   exclusions   5 non-null      float64
 4   extras       4 non-null      float64
 5   order_time   14 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(3)
memory usage: 800.0 bytes

### Calidad tabla runner_orders

In [18]:
consulta = "SELECT * FROM runner_orders"

# Ejecutar la consulta y cargar los resultados en un DataFrame de Pandas
runner_orders = pd.read_sql_query(consulta, engine)

# Cierra la conexión
engine.dispose()

# Imprime los resultados
runner_orders.head(10)

,order_id,runner_id,pickup_time,distance,duration,cancellation
0,1,1,2020-01-01 18:15:34,20km,32 minutes,
1,2,1,2020-01-01 19:10:54,20km,27 minutes,
2,3,1,2020-01-03 00:12:37,13.4km,20 mins,None
3,4,2,2020-01-04 13:53:03,23.4,40,None
4,5,3,2020-01-08 21:10:57,10,15,None
5,6,3,null,null,null,Restaurant Cancellation
6,7,2,2020-01-08 21:30:45,25km,25mins,null
7,8,2,2020-01-10 00:15:02,23.4 km,15 minute,null
8,9,2,null,null,null,Customer Cancellation
9,10,1,2020-01-11 18:50:20,10km,10minutes,null

#### Visión general

In [13]:
runner_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      10 non-null     int64
 1   runner_id     10 non-null     int64
 2   pickup_time   10 non-null     object
 3   distance      10 non-null     object
 4   duration      10 non-null     object
 5   cancellation  7 non-null      object
dtypes: int64(2), object(4)
memory usage: 608.0+ bytes

Problemas de registros y tipos.

#### Corrección registros

In [22]:
#variable cancellation
runner_orders.cancellation.fillna('None')

0
1
2                       None
3                       None
4                       None
5    Restaurant Cancellation
6                       null
7                       null
8      Customer Cancellation
9                       null
Name: cancellation, dtype: object